@page "/payroll/employees"
@using AprajitaRetails.Client.Helpers;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using AprajitaRetails.Shared
@using AprajitaRetails.Shared.Models.Payroll
@using AprajitaRetails.Helpers
@attribute [Authorize]
@inject ClientSetting ClientSetting
@inject NotificationService NotificationService
@inject LocalStorageAccessor LocalStorage
@inject HttpClient Http

<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title=@Title />
    </Header>
</ContentHeader>

<ContentMain>

    @if (entities == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <Row>
            <Card ToolOptions="new CardToolOptions {Collapsable = true,Maximizable=true }">
                <Title>
                    <CardTitle>@Title</CardTitle>
                </Title>
                <Header>
                    <CardTools>
                        <CustomTools>
                            <a class="btn btn-primary btn-xs btn" href="/payroll/employees/edit/false">Add</a>
                        </CustomTools>
                    </CardTools>
                </Header>
                <Body>
                    <AprajitaRetails.AdminLte.Table.ATable Bordered=true Hover=true>
                        <TableHead>
                            <TableHeadCell>ID</TableHeadCell>
                            <TableHeadCell>Name</TableHeadCell>
                            <TableHeadCell>City</TableHeadCell>
                            <TableHeadCell>Working</TableHeadCell>
                            <TableHeadCell>DOB</TableHeadCell>
                            <TableHeadCell>Dept</TableHeadCell>
                            <TableHeadCell>Joined</TableHeadCell>
                            <TableHeadCell>Left</TableHeadCell>
                            <TableHeadCell>     </TableHeadCell>
                        </TableHead>
                        <TableBody>

                            @foreach (var ent in entities)
                            {
                                <TableRow>
                                    <TableCell>@ent.EmployeeId</TableCell>
                                    <TableCell>@ent.StaffName</TableCell>
                                    <TableCell>@ent.City.</TableCell>
                                    <TableCell>@ent.IsWorking</TableCell>
                                    <TableCell>@ent.DOB.ToShortDateString()</TableCell>
                                    <TableCell>@ent.Category.</TableCell>
                                    <TableCell>@ent.JoiningDate.ToShortDateString()</TableCell>
                                    @if (ent.LeavingDate != null)
                                    {
                                        <TableCell>@ent.LeavingDate.GetValueOrDefault().ToShortDateString()</TableCell>
                                    }else
                                    {
                                    <TableCell></TableCell>
                                    }
                                    <TableCell>
                                        <AprajitaRetails.AdminLte.ActionMenu Link="/payroll/employees" Id="@ent.EmployeeId" />
                                    </TableCell>
                                </TableRow>
                            }
                        </TableBody>
                    </AprajitaRetails.AdminLte.Table.ATable>
                </Body>
            </Card>
        </Row>
    }

</ContentMain>

@code {

    private string Title = "Employees";
    private Employee[]? entities;
   // private static string StoreCode;
    protected override async Task OnInitializedAsync()
    {
        try
        {

            if (!string.IsNullOrEmpty(ClientSetting.StoreCode))
            {
                entities = await Http.GetFromJsonAsync<Employee[]>("Employees");
                Title += $" [{ClientSetting.StoreCode}]";
            }
            else
            {
                Msg("Error", "Store is not selected!, Kindly re-login", true);
            }

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
    void Msg(string title, string text, bool error = false)
    {
        var msg = new Radzen.NotificationMessage
            {
                Severity = error ? NotificationSeverity.Error : NotificationSeverity.Info,
                Summary = title,
                Detail = text,
                Duration = 14000
            };
        NotificationService.Notify(msg);
    }

}