<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" >
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access!</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            @*<Microsoft.AspNetCore.Components.Web.PageTitle>Page Not Found</Microsoft.AspNetCore.Components.Web.PageTitle>*@
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, page not found!.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
