@page "/vouchers"
@using AprajitaRetails.Shared.Models.Vouchers;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using AprajitaRetails.Shared
@attribute [Authorize]
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager
@inject SfDialogService DialogService
@inject HttpClient Http

<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title="Vouchers" />
    </Header>
</ContentHeader>
<ContentMain>
    @if (vchlist == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <Row>
            <Card ToolOptions="new CardToolOptions {Collapsable = true,Maximizable=true }">
                <Title>
                    <CardTitle>Vouchers</CardTitle>
                </Title>
                <Header>
                    <CardTools>
                        <CustomTools>
                            <a class="btn btn-primary btn-xs btn" href="/vouchers/edit">Add</a>
                        </CustomTools>
                    </CardTools>
                </Header>
                <Body>
                    <AprajitaRetails.AdminLte.Table.ATable Bordered=true Hover=true>
                        <TableHead>
                            <TableHeadCell>Type</TableHeadCell>
                            <TableHeadCell>Date</TableHeadCell>
                            <TableHeadCell>VoucherNo</TableHeadCell>
                            <TableHeadCell>Party Name</TableHeadCell>
                            <TableHeadCell>Particulars</TableHeadCell>
                            <TableHeadCell>Amount</TableHeadCell>
                            <TableHeadCell>PayMode</TableHeadCell>
                            <TableHeadCell>Remarks</TableHeadCell>
                            <TableHeadCell>Issued By</TableHeadCell>
                            <TableHeadCell>Slip No</TableHeadCell>
                            <TableHeadCell> </TableHeadCell>
                        </TableHead>
                        <TableBody>

                            @foreach (var vch in vchlist)
                            {
                                <TableRow>
                                    <TableCell>@vch.VoucherType</TableCell>
                                    <TableCell>@vch.OnDate.ToShortDateString()</TableCell>
                                    <TableCell>@vch.VoucherNumber</TableCell>
                                    <TableCell>@vch.PartyName</TableCell>
                                    <TableCell>@vch.Particulars</TableCell>
                                    <TableCell>@vch.Amount</TableCell>
                                    <TableCell>@vch.PaymentMode</TableCell>
                                    <TableCell>@vch.Remarks</TableCell>
                                    <TableCell>@vch.EmployeeId</TableCell>
                                    <TableCell>@vch.SlipNumber</TableCell>
                                    <TableCell>
                                        <AprajitaRetails.AdminLte.ActionMenu Link="/vouchers" Id="@vch.VoucherNumber" OnClickDelete="()=>ConfirmDelete(vch.VoucherNumber)" />
                                    </TableCell>
                                </TableRow>
                            }
                        </TableBody>
                    </AprajitaRetails.AdminLte.Table.ATable>
                </Body>
            </Card>
        </Row>
    }
</ContentMain>
@code {
    private List<Voucher>? vchlist;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            vchlist = await Http.GetFromJsonAsync<List<Voucher>>("api/Vouchers");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    async void ConfirmDelete(string id)
    {
        bool isConfirm = await DialogService.ConfirmAsync("Are you sure you want to permanently delete?", "Delete Voucher");
        //string confirmMessage = isConfirm ? "" : "canceled";
        if (isConfirm)
        {
            var result = await Http.DeleteAsync($"Attendances/{id}");
            if (result.IsSuccessStatusCode)
            {
                vchlist.Remove(vchlist.First(c => c.VoucherNumber == id));
                StateHasChanged();
                Msg("Voucher Delete", $"Voucher No {id} is deleted");
            }
            else
            {
                Msg("Voucher Delete", $" Error : Voucher No {id} is not deleted", true);
            }
        }
    }
    void Msg(string title, string text, bool error = false)
    {
        var msg = new Radzen.NotificationMessage
            {
                Severity = error ? NotificationSeverity.Error : NotificationSeverity.Info,
                Summary = title,
                Detail = text,
                Duration = 14000
            };
        NotificationService.Notify(msg);
    }
}