@page "/vouchers"
@using AprajitaRetails.Shared.Models.Vouchers;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using AprajitaRetails.Shared
@attribute [Authorize]
@inject HttpClient Http

<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title="Vouchers" />
    </Header>
</ContentHeader>
<ContentMain>
    @if (vchlist == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <Row>
            <Card ToolOptions="new CardToolOptions {Collapsable = true,Maximizable=true }">
                <Title>
                    <CardTitle>Vouchers</CardTitle>

                </Title>
                <Header>
                    <CardTools>
                        <CustomTools>
                           <a class="btn btn-primary btn-xs btn" href="/vouchers/edit">Add</a>
                           @* <Button Type="Blazor.AdminLte.ButtonType.Gradient" Size="Blazor.AdminLte.ButtonSize.ExtraSmall" Color="Color.Primary" >
                                Add
                            </Button>*@
                        </CustomTools>
                    </CardTools>
                </Header>
                <Body>
                    <AprajitaRetails.AdminLte.Table.ATable Bordered=true Hover=true>
                        <TableHead>
                            <TableHeadCell>Type</TableHeadCell>
                            <TableHeadCell>Date</TableHeadCell>
                            <TableHeadCell>VoucherNo</TableHeadCell>
                            <TableHeadCell>Party Name</TableHeadCell>
                            <TableHeadCell>Particulars</TableHeadCell>
                            <TableHeadCell>Amount</TableHeadCell>
                            <TableHeadCell>PayMode</TableHeadCell>
                            <TableHeadCell>Remarks</TableHeadCell>
                            <TableHeadCell>Issued By</TableHeadCell>
                            <TableHeadCell>Slip No</TableHeadCell>
                        </TableHead>
                        <TableBody>

                            @foreach (var vch in vchlist)
                            {
                                <TableRow>
                                    <TableCell>@vch.VoucherType</TableCell>
                                    <TableCell>@vch.OnDate.ToShortDateString()</TableCell>
                                    <TableCell>@vch.VoucherNumber</TableCell>
                                    <TableCell>@vch.PartyName</TableCell>
                                    <TableCell>@vch.Particulars</TableCell>
                                    <TableCell>@vch.Amount</TableCell>
                                    <TableCell>@vch.PaymentMode</TableCell>
                                    <TableCell>@vch.Remarks</TableCell>
                                    <TableCell>@vch.EmployeeId</TableCell>
                                    <TableCell>@vch.SlipNumber</TableCell>
                                </TableRow>
                            }
                        </TableBody>
                    </AprajitaRetails.AdminLte.Table.ATable>
                </Body>
            </Card>
        </Row>
    }
</ContentMain>
@code {
    private Voucher[]? vchlist;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            vchlist = await Http.GetFromJsonAsync<Voucher[]>("Vouchers");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
