@page
@model AprajitaRetails.UI.Pages.Apps.Vouchers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.VoucherType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.VoucherType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.OnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.OnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.SlipNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.SlipNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.PartyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.PartyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.Particulars)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.Particulars)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.PaymentMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.PaymentMode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.PaymentDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.PaymentDetails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.AccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.AccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.Employee.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.Partys)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.Partys.PartyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.Store)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.Store.StoreId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.EntryStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.EntryStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.IsReadOnly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.IsReadOnly)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.MarkedDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.MarkedDeleted)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Voucher.VoucherNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
