@page "/stores"
@model Aprajita_Retails.Pages.Apps.StoresModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].StoreCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].StoreManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].StoreManagerContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].StorePhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].StoreEmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].PanNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].GSTIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].VatNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].MarkedDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Store) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreManagerContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorePhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreEmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PanNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GSTIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VatNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkedDeleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StoreId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StoreId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StoreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
