@namespace AprajitaRetails.AdminLte.Forms
<div class="mb-3 row">
    <label for="@Name" class="col-sm-4 col-form-label">@Label</label>
    <div class="col-sm-6">
        <input type="number" class="form-control" value="@Value" id="@Name" placeholder="@Placeholder" @oninput="OnValueChanged">
    </div>
</div>

@code {
    [Parameter]
    public string Label { get; set; } = " ";
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }
    private async Task OnValueChanged(ChangeEventArgs e)
    {
        Value = int.Parse(e?.Value?.ToString());
        await ValueChanged.InvokeAsync(Value);
    }


}
