@page
@model AprajitaRetails.UI.Pages.Apps.Accounts.PettyCashSheets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PettyCashSheet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.OnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.OnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.OpeningBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.OpeningBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.ClosingBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.ClosingBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.BankDeposit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.BankDeposit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.BankWithdrawal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.BankWithdrawal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.DailySale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.DailySale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.TailoringSale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.TailoringSale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.TailoringPayment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.TailoringPayment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.ManualSale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.ManualSale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.CardSale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.CardSale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.NonCashSale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.NonCashSale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.CustomerDue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.CustomerDue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.DueList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.DueList)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.CustomerRecovery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.CustomerRecovery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.RecoveryList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.RecoveryList)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.ReceiptsNaration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.ReceiptsNaration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.ReceiptsTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.ReceiptsTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.PaymentNaration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.PaymentNaration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PettyCashSheet.PaymentTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PettyCashSheet.PaymentTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PettyCashSheet?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
