@page "/pettycash"
@model AprajitaRetails.UI.Pages.Apps.Accounts.PettyCashSheets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].OnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].OpeningBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].ClosingBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].BankDeposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].BankWithdrawal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].DailySale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].TailoringSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].TailoringPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].ManualSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].CardSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].NonCashSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].CustomerDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].DueList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].CustomerRecovery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].RecoveryList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].ReceiptsNaration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].ReceiptsTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].PaymentNaration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PettyCashSheet[0].PaymentTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PettyCashSheet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankDeposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankWithdrawal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailySale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TailoringSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TailoringPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManualSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NonCashSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerRecovery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecoveryList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptsNaration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptsTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentNaration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentTotal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
