@page "/vouchers/notes/details"
@model Aprajita_Retails.Pages.Apps.Vouchers.Notes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Note</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.NotesType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.NotesType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.OnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.OnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.PartyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.PartyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.WithGST)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.WithGST)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.TaxRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.TaxRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Party)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Party.PartyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Store)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Store.StoreId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.EntryStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.EntryStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.IsReadOnly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.IsReadOnly)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.MarkedDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.MarkedDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Note?.NoteNumber">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
