@page "/payroll/attendances"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using AprajitaRetails.Shared
@using AprajitaRetails.Shared.Models.Payroll
@attribute [Authorize]

@inject HttpClient Http

<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title=@Title />
    </Header>
</ContentHeader>
<ContentMain>

    @if (entities == null)
    {


        <p><em>Loading...</em></p>
    }
    else
    {
        <Row>
            <Card ToolOptions="new CardToolOptions {Collapsable = true,Maximizable=true }">
                <Title>
                    <CardTitle>Vouchers</CardTitle>

                </Title>
                <Header>
                    <CardTools>
                        <CustomTools>
                            <Button Type="Blazor.AdminLte.ButtonType.Gradient" Size="Blazor.AdminLte.ButtonSize.ExtraSmall" Color="Color.Primary">
                                Add
                            </Button>
                        </CustomTools>
                    </CardTools>
                </Header>
                <Body>
                    <AprajitaRetails.AdminLte.Table.ATable Bordered=true Hover=true>
                        <TableHead>
                            <TableHeadCell>ID</TableHeadCell>
                            <TableHeadCell>Name</TableHeadCell>
                            <TableHeadCell>Date</TableHeadCell>
                            <TableHeadCell>Time</TableHeadCell>
                            <TableHeadCell>Status</TableHeadCell>
                            <TableHeadCell>Remarks</TableHeadCell>
                            <TableHeadCell>Store</TableHeadCell>

                            <TableHeadCell>     </TableHeadCell>
                        </TableHead>
                        <TableBody>

                            @foreach (var ent in entities)
                            {
                                <TableRow>
                                    <TableCell>@ent.EmployeeId</TableCell>
                                    <TableCell>@StaffName(ent.EmployeeId)</TableCell>
                                    <TableCell>@ent.OnDate.ToShortDateString()</TableCell>
                                    <TableCell>@ent.EntryTime</TableCell>

                                    <TableCell>@ent.Status</TableCell>
                                    <TableCell>@ent.Remarks</TableCell>
                                    <TableCell>@ent.StoreId</TableCell>
                                    <TableCell>
                                        <div>
                                            <Button>I</Button><Button>E</Button><Button>D</Button>
                                        </div>
                                    </TableCell>
                                </TableRow>
                            }
                        </TableBody>
                    </AprajitaRetails.AdminLte.Table.ATable>
                </Body>
            </Card>
        </Row>
    }

</ContentMain>




@code{

    private const string Title = "Attendances";
    private Attendance[]? entities;
    private Employee[]? employees;
    private string StaffName(string id)
    {
       return employees.First(c => c.EmployeeId == id).StaffName;
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            employees = await Http.GetFromJsonAsync<Employee[]>("Employees");
            entities = await Http.GetFromJsonAsync<Attendance[]>("Attendances");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}