@namespace AprajitaRetails.AdminLte.Forms
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="@Value" id="@Name" checked="@Checked" @onchange="@OnValueChanged">
  <label class="form-check-label" for="@Name">
   @Title
  </label>
</div>
@code {
    [Parameter]
    public string Name{ get; set; }
    [Parameter]
    public string Title { get; set; } = " ";
    [Parameter]
    public bool Checked { get; set; } = false;
    public string Value { get; set; } = "";
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
    
    private async Task OnValueChanged(ChangeEventArgs e)
    {
        Checked = (bool)e?.Value;
        ValueChanged.InvokeAsync(Value);

        if (ValueChanged.HasDelegate)
            ValueChanged.InvokeAsync(Value);
    }

}
