@namespace AprajitaRetails.AdminLte.Forms
<div class="form-floating mb-3">
    <input type="@Type" class="form-control" id="@Name" placeholder="@Placeholder" @oninput="@OnValueChanged">
    <label for="floatingInput">@Label</label>
</div>
@code {
    [Parameter]
    public string Label { get; set; } = " ";
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Placeholder { get; set; }
    [Parameter]
    public string Value { get; set; }
    [Parameter]
    public string Type { get; set; } = "text";

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
    private async Task OnValueChanged(ChangeEventArgs e)
    {
        Value = e?.Value?.ToString();
        await ValueChanged.InvokeAsync(Value);
    }
}
