@page "/temp"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using AprajitaRetails.Shared
@using AprajitaRetails.Shared.Models.Payroll
@using AprajitaRetails.AdminLte

@attribute [Authorize]
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager
@inject SfDialogService DialogService
@inject HttpClient Http

<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title=@Title />
    </Header>
</ContentHeader>
<ContentMain>

    @if (entities == null)
    {

        <p><em>Loading...</em></p>
    }
    else
    {
        <Row>
            <Card ToolOptions="new CardToolOptions {Collapsable = true,Maximizable=true }">
                <Title>
                    <CardTitle>Vouchers</CardTitle>

                </Title>
                <Header>
                    <CardTools>
                        <CustomTools>
                            <CustomTools>
                                <a class="btn btn-primary btn-xs btn" href="/payroll/attendances/edit/false">Add</a>
                            </CustomTools>
                        </CustomTools>
                    </CardTools>
                </Header>
                <Body>
                    <AprajitaRetails.AdminLte.Table.ATable Bordered=true Hover=true>
                        <TableHead>
                            <TableHeadCell>ID</TableHeadCell>
                            <TableHeadCell>Name</TableHeadCell>
                            <TableHeadCell>City</TableHeadCell>
                            <TableHeadCell>Working</TableHeadCell>
                            <TableHeadCell>DOB</TableHeadCell>
                            <TableHeadCell>Dept</TableHeadCell>
                            <TableHeadCell>Joined</TableHeadCell>
                            <TableHeadCell>Left</TableHeadCell>
                            <TableHeadCell>Store</TableHeadCell>
                            <TableHeadCell>     </TableHeadCell>
                        </TableHead>
                        <TableBody>

                            @foreach (var ent in entities)
                            {
                                <TableRow>
                                    <TableCell>@ent.EmployeeId</TableCell>
                                    <TableCell>@ent.StaffName</TableCell>
                                    <TableCell>@ent.City.</TableCell>
                                    <TableCell>@ent.IsWorking</TableCell>
                                    <TableCell>@ent.DOB.ToShortDateString()</TableCell>
                                    <TableCell>@ent.Category.</TableCell>
                                    <TableCell>@ent.JoiningDate.ToShortDateString()</TableCell>
                                    <TableCell>@ent.LeavingDate.GetValueOrDefault().ToShortDateString()</TableCell>
                                    <TableCell>@ent.StoreId.</TableCell>
                                    <TableCell>
                                        <ActionMenu Link="/payroll/attendances" Id="@ent.EmployeeId" OnClickDelete="()=>ConfirmDelete(ent.EmployeeId)" />
                                    </TableCell>
                                </TableRow>
                            }
                        </TableBody>
                    </AprajitaRetails.AdminLte.Table.ATable>
                </Body>
            </Card>
        </Row>
    }

</ContentMain>

@code {

    private string Title = "Title";
    private List<Employee>? entities;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            entities = await Http.GetFromJsonAsync<List<Employee>>("Employees");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
    async void ConfirmDelete(string id)
    {
        bool isConfirm = await DialogService.ConfirmAsync("Are you sure you want to permanently delete?", "Delete Attendance");
        //string confirmMessage = isConfirm ? "" : "canceled";
        if (isConfirm)
        {
            var result = await Http.DeleteAsync($"Attendances/{id}");
            if (result.IsSuccessStatusCode)
            {
                entities.Remove(entities.First(c => c.EmployeeId == id));
                StateHasChanged();
                Msg("Attendane Delete", $"Attendance {id} is deleted");
            }
            else
            {
                Msg("Attendane Delete", $" Error : Attendance {id} is not deleted", true);
            }
        }
    }
    void Msg(string title, string text, bool error = false)
    {
        var msg = new Radzen.NotificationMessage
            {
                Severity = error ? NotificationSeverity.Error : NotificationSeverity.Info,
                Summary = title,
                Detail = text,
                Duration = 14000
            };
        NotificationService.Notify(msg);
    }

}