@page "/payroll/attendances"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using AprajitaRetails.Shared
@using AprajitaRetails.Shared.Models.Payroll
@using AprajitaRetails.AdminLte

@attribute [Authorize]
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager

@inject HttpClient Http

<ContentHeader>
    <Header>
        <Blazor.AdminLte.PageTitle Title=@Title />
    </Header>
</ContentHeader>
<ContentMain>

    @if (entities == null)
    {

        <p><em>Loading...</em></p>
    }
    else
    {
        <Row>
            <Card ToolOptions="new CardToolOptions {Collapsable = true,Maximizable=true }">
                <Title>
                    <CardTitle>@Title</CardTitle>

                </Title>
                <Header>
                    <CardTools>
                        <CustomTools>
                            <a class="btn btn-primary btn-xs btn" href="/payroll/attendances/edit">Add</a>
                        </CustomTools>
                    </CardTools>
                </Header>
                <Body>
                    <AprajitaRetails.AdminLte.Table.ATable Bordered=true Hover=true>
                        <TableHead>
                            <TableHeadCell>ID</TableHeadCell>
                            <TableHeadCell>Name</TableHeadCell>
                            <TableHeadCell>Date</TableHeadCell>
                            <TableHeadCell>Time</TableHeadCell>
                            <TableHeadCell>Status</TableHeadCell>
                            <TableHeadCell>Remarks</TableHeadCell>
                            @*<TableHeadCell>Store</TableHeadCell>*@
                            <TableHeadCell>     </TableHeadCell>
                        </TableHead>
                        <TableBody>

                            @foreach (var ent in entities)
                            {
                                <TableRow>
                                    <TableCell>@ent.AttendanceId</TableCell>
                                    <TableCell>@StaffName(ent.EmployeeId)</TableCell>
                                    <TableCell>@ent.OnDate.ToShortDateString()</TableCell>
                                    <TableCell>@ent.EntryTime</TableCell>

                                    <TableCell>@ent.Status</TableCell>
                                    <TableCell>@ent.Remarks</TableCell>
                                    @*<TableCell>@ent.StoreId</TableCell>*@
                                    <TableCell>
                                        <ActionMenu Link="/payroll/attendances" Id="@ent.AttendanceId" />
                                    </TableCell>
                                </TableRow>
                            }
                        </TableBody>
                    </AprajitaRetails.AdminLte.Table.ATable>
                </Body>
            </Card>
        </Row>
    }

</ContentMain>




@code{

    private const string Title = "Attendances";
    private Attendance[]? entities;
    private Employee[]? employees;

    private string StaffName(string id)
    {
        return employees != null ? employees.First(c => c.EmployeeId == id).StaffName : "";
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            employees = await Http.GetFromJsonAsync<Employee[]>("Employees");
            entities = await Http.GetFromJsonAsync<Attendance[]>("Attendances");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    void OnEdit(string id)
    {
        Msg(id, "OnEdit");
        var att = entities.First(c => c.AttendanceId == id);
        att.Employee = employees.First(c => c.EmployeeId == att.EmployeeId);
        NavigationManager.NavigateTo("/payroll/attendances/details/@att");

    }
    void OnDetail(string id) { Msg(id, "OnDetails"); }
    void OnDelete(string id) { Msg(id, "OnDelete"); }
    void Msg(string title, string text, bool error = false)
    {
        var msg = new Radzen.NotificationMessage
        {
            Severity = error ? NotificationSeverity.Error : NotificationSeverity.Info,
            Summary = title,
            Detail = text,
            Duration = 14000
        };
        NotificationService.Notify(msg);
    }

}