
@*@using AprajitaRetails.Shared.Models.Inventory


<Row>
    <Column Classes="col.md">
        <div class="mb-3 row">
            <label for="Store" class="col-sm-4 col-form-label">Store</label>
            <div class="col-sm-6">
                <SfComboBox TValue="string" TItem="SelectOption" Placeholder="Store"
                            Autofill="true"
                            @bind-Value="@entity.StoreId" PopupHeight="230px"
                            DataSource="@Stores">
                    <ComboBoxFieldSettings Text="Value" Value="ID" />
                </SfComboBox>
            </div>
        </div>
    </Column>
    <Column Classes="col.md">
        <div class="mb-3 row">
            <label for="Store" class="col-sm-4 col-form-label">Invoice Type</label>
            <div class="col-sm-6">
                <SfComboBox TValue="string" TItem="SelectOption" Placeholder="Store"
                            Autofill="true"
                            @bind-Value="@entity.StoreId" PopupHeight="230px"
                            DataSource="@Stores">
                    <ComboBoxFieldSettings Text="Value" Value="ID" />
                </SfComboBox>
            </div>
        </div>
    </Column>
    <Column Classes="col.md">
        <div class="mb-3 row">
            <label for="ondate" class="col-sm-4 col-form-label">Date</label>
            <div class="col-sm-6">
                 <SfDatePicker  @bind-Value="@entity.OnDate" Format="dd-MM-yyyy" TValue="DateTime" Placeholder="Choose a Date" ShowClearButton="true"></SfDatePicker>
            </div>
        </div>
    </Column>
</Row>


@code {

    [Parameter] public ProductSale entity { get; set; }

    void Test()
    {

    }

}*@

